body{

background-color: white ;
color :black ;

}

li{

	 
	color: red;
}
#changenav{


background-color: #04B404 ; 
height: 70px ;	
} 

#mydiv{
background-color:#04B404;
align-content: center;  
width: 700px ;
height: 400px;
margin-left:  25%  ;
margin-right: 25% ;
margin-top: 150px ; 
padding-left : 20px;
border: 25px solid black ; 
font-weight: bold; 
} 

